@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    font-family: 'Kalam', cursive;
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  html{
    overflow-x: hidden;
    font-size: 62.5%;
  }
  
  .heading{
    color:#333;
    font-size: 3.5rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
  }
  
  .heading span{
    color:#0098a1;
  }
  
  header{
    width: 96%;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:1.5rem; left:50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    padding:.3rem 2rem;
    transition: .2s linear;
    z-index: 1000;
  }
  
  .header-active{
    top:0;
    width:100%;
    border-radius: 0;
  }
  
  header .logo{
    color:#333;
    font-size: 3rem;
  }
  
  header .logo span{
    color:#0098a1;
  }
  
  header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0; padding:0;
  }
  
  header .navbar ul li{
    margin:0 1rem;
  }
  
  header .navbar ul li a{
    font-size: 2rem;
    color:#333;
    transition: .2s linear;
  }
  
  
  header .navbar ul li .active,
  header .navbar ul li a:hover{
    color: #0098a1;
  }
  
  header .fa-bars{
    font-size: 3rem;
    color:#0098a1;
    cursor: pointer;
    display: none;
  }


  /* CSS for home starts */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding:2rem 10rem;
}
  
.home .video video{
    position: absolute;
    top:0; left:0;
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.home .content{
    margin-top: 7rem;
}
  
.home .content h1{
    font-size: 6.1vw;
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
}
  
.home .content p{
    font-size: 1.5vw;
    color:#eee;
    text-shadow: 0 .3rem .5rem #000;
    padding-left: 2rem;
    border-left: .3rem solid #ddd;
}
  
.home .form-container form{
    margin-top: 8rem;
    padding:2rem;
    width:40rem;
    background-color: #fff;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.9);
    border-radius: .5rem;
}
  
.home .form-container form h3{
    color:#333;
    font-size: 3rem;
    text-align: center;
}
  
.home .form-container form span{
    color:#0098a1;
    font-size: 2.5rem;
    margin:.5rem 0;
    display: block;
}
  
.home .form-container form input{
    width: 100%;
    padding:0 1rem;
    height:4rem;
    font-size: 1.5rem;
    background:#eee;
    border:none;
    outline: none;
    color:#333;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3) inset;
    border-radius: .5rem;
}
  
.home .form-container form input[type="submit"]{
    width:10rem;
    color:#fff;
    background:#0098a1;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2rem;
    transition: .2s linear;
}
  
.home .form-container form input[type="submit"]:hover{
    border:.2rem solid #0098a1;
    color:#0098a1;
    background: none;
}
.home .dropdown{
    position: relative;
    z-index: 10;
    display: inline-block;
}
.home .dropdown__hover{
      display: inline-block;
      padding: 10px;
      background-color:#0098a1;
      color: #ffffff;
      border:0 solid #0098a1;
      cursor: pointer;
}
.home .dropdown__hover:hover{background-color: #0098a1;;}
.home .dropdown__menu{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      min-width: 200px;
      background-color: #ffffff;
      color: #0098a1;
      box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}
.home .dropdown:hover .final__dropdown__menu{display: block;}
.home .dropdown__menu a{
        display: block;
        padding: 10px;
        text-decoration: none;
        border-width: 0;
        border-top: 1px solid #e0e0e0;
}
.home .dropdown__menu a:hover{
        background-color:#f0f0f0;
        color: #323b40;
}
    

/* CSS for Login starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
.form{
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: center;
}

.form i{
  z-index: 1;
  color: rgb(0, 0, 0);
  font-size: 65px;
  margin-bottom: 30px;
}
.form .signup-form{
  display: none;
}

.form .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
  border-left: solid 8px #0062ff;
  border-right: solid 8px #0062ff;
  box-shadow: 0 0 100px rgba(0, 98, 255, 0.8);
}

.form .options-01{
  margin-bottom: 50px;
}

.form .options-01 input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me{
  color: rgb(0, 0, 0);
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a{
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: italic;
  float: right;
}
::placeholder
{
color: rgb(125, 126, 128);
opacity: 0.8; /*Google Chrome*/
}
.form .btn{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background: #0062ff;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
.form .btn:hover{
  border-left: solid 8px rgba(0, 0, 0, 0.5);
  border-right: solid 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px rgba(0, 98, 255, 0.8);
}
.form .options-02{
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 30px;
}

.form .options-02 a{
  color: #0062ff;
}
@media screen and (max-width: 500px){
  .form{
    width: 95%;
  }

  .form .user-input{
    width: 100%
  }

  .form .btn{
    width: 100%;
  }
}

/* CSS for Feature starts */

.carousel
{
	margin: 10px;
	width: 100%;
	overflow: scroll;
	position: relative;
	box-shadow: border-box;
}

.carousel__container
{
	white-space: nowrap;
	margin: 20px 0px;
	padding-bottom: 10px;
}
.carousel-item
{
	background-color: #fff;
	width: 425px;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
	position: relative;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
}

.carousel-item .info
{
	text-align: center;
	line-height: 20px;
	margin-top: -10px;
	font-family:  'Kalam', cursive;
  font-size: medium;
	margin-bottom: 10px;
}
.carousel-item .info h3
{
	color: #333;
	padding-top: 5px;
	cursor: pointer;
	font-family: 'Kalam', cursive;
  font-size: larger;
	letter-spacing: 1px;
	font-size: 14px;
}
.carousel-item .info .price
{
	font-size: 13px;
	color: #0062ff;
	letter-spacing: 0.5px;
}

.carousel-item~ .carousel-item
{
	transform: translate3d(20px,0,0);
}

.carousel__container:hover .carousel-item:hover
{
	transform: scale(1.09);
	opacity: 1;
}

.carousel-item__img
{
	width: 100%;
	height: 210px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,0.26);
}
.carousel::-webkit-scrollbar
{
	height: 10px;
}
.carousel::-webkit-scrollbar-track
{
	-webkit-:inset 0 0 6px rgba(0,0,0,0.26);
	border-radius: 10px;
}
.carousel::-webkit-scrollbar-track-piece
{
	max-width: 200px;
}
.carousel::-webkit-scrollbar-thumb
{
	border-radius: 50px;
	background-color: #fff;
	background-image: -webkit-gradient(linear,40% 0%,75% 84%, from(#a3d6ff), to(#6fe9ff), color-stop(0.6, #09c6ff));
}
.discount{
  position: absolute;
  top:1rem; left: 1rem;
  display: block;
  height:3.5rem;
  width:6rem;
  background: #ff3300;
  color:#fff;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
}  
.buy-btn{
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 40px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #6e6e6e;
	transition: all ease 0.3s;
}














/* media queries  */
@media (max-width:768px){

    html{
      font-size: 55%;
    }
  
    header .fa-bars{
      display: block;
    }
  
    header .navbar{
      position: fixed;
      top:-100rem; left:50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: #fff;
      border-radius: .5rem;
      box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
      z-index: 1000;
      transition: .2s linear;
      opacity: 0;
    }
  
    header .navbar ul{
      flex-flow: column;
    }
  
    header .navbar ul li{
      margin:1rem 0;
      width: 100%;
      text-align: center;
    }
  
    header .navbar ul li a{
      display: block;
      font-size: 3rem;
    }
  
    header .nav-toggle{
      top:5.5rem;
      opacity: 1;
    }
}
@media (max-width:500px){

    .home .form-container{
      width: 100%;
    }
  
    .home .form-container form{
      width: 100%;
      margin:3rem 0;
    }
  
    .home .form-container form input[type="submit"]{
      width: 100%;
    }
    .contact form{
      width: 90%;
    }
  
    .contact form .inputBox input{
      width: 100%;
    }
  }
  